@import 'variables';
@import 'base';
@import 'notifications';
@import 'landing';
@import 'form';

body {
  background: url('../images/grey.png');
}

.has-title-hint {
  text-decoration: dotted underline;
}

.container.is-narrow {
  max-width: 20rem;
}

@import 'posts';
