.post {
  .title, .subtitle {
    &:not(.is-spaced) + .metadata {
      margin-top: -1.25rem;
    }
  }

  .metadata {
    @extend .has-text-grey;

    & + p {
      margin-top: 1.25rem;
    }
  }

  & + .post {
    margin-top: 1.25rem;
  }
}

.post-actions {
  margin-top: 1.25rem;

  a + a {
    margin-left: 1rem;
  }
}

.posts {
  .post .metadata + p {
    margin-top: 0.25rem;
  }

  nav.pagination {
    margin-top: 1.25rem;
  }
}
