section.section
  h1.title About this site&hellip;
  h3.subtitle Technical details
  markdown:
    This site is made with [Ruby on Rails][ror], running [Puma][] as application server and [nginx][] for web server
    (acting as a reverse proxy). [Bulma][] and [Font Awesome][fa] were used to design it. The whole thing runs on a VPS
    provided by [DigitalOcean][do] (if you're browsing the staging site, it's hosted by [Heroku][]).

    You can find the source code for this site at [GitHub][]!

    [github]: https://github.com/Sharparam/sharparam.com
    [nginx]: https://nginx.org/
    [ror]: https://rubyonrails.org/
    [puma]: https://github.com/puma/puma
    [bulma]: https://bulma.io/
    [fa]: https://fontawesome.com/
    [do]: https://m.do.co/c/b711382b1ffd
    [heroku]: https://www.heroku.com/
