/ Link showing page number
  - available local variables
    page         : a page object for "this" page
    url          : url to this page
    current_page : a page object for the currently displayed page
    total_pages  : total number of pages
    per_page     : number of items to fetch per page
    remote       : data-remote
/span class="page#{' current' if page.current?}"
- # rubocop:disable Rails/OutputSafety
== link_to page,
  url,
  rel: page.rel,
  remote: remote,
  class: "pagination-link#{' is-current' if page.current?}",
  'aria-label': t("views.pagination.#{page.current? ? 'page' : 'goto'}", page: page).html_safe
- # rubocop:enable Rails/OutputSafety
