@import "cerulean/variables";

@import "bootstrap";

@import "cerulean/bootswatch";

$footer-height: 60px;

html, body {
    height: 100%;
}

body {
    background: image-url('shattered.png') repeat;
}

.navbar {
    margin-bottom: 0 !important;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto (-$footer-height);
    padding: 0 0 $footer-height;
}

p#social-list > a {
    margin-right: 10px;
    margin-bottom: 10px;

    &:last-child {
        margin-right: 0;
    }
}

footer {
    height: $footer-height;
    background-color: #f5f5f5;

    .container {
        padding-top: 20px;
    }
}
